@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro&display=swap');

@import '~@wmde/wikit-vue-components/dist/wikit-vue-components.css';

$mobile-max-size: 720px;
$color-base-0: #000;
$color-base-10: #202122;
$color-base-30: #72777D;
$color-base-50: #A2A9B1;
$color-base-80: #EAECF0;
$color-base-90: #F8F9FA;
$color-base-100: #FFF;
$color-base-hover: #404244;
$color-accent-30: #2A4B8D;
$color-accent-50: #3366cc;
$color-accent-hover: #447ff5;
$color-red-30: #B32424;
$color-red-50: #D33;
$color-red-hover: #FF4242;

body, body * {
    box-sizing: border-box;
}

body {
    padding: 24px;
    max-width: 1090px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;

    @media (max-width: $mobile-max-size) {
        padding: 16px;
    }
}

a {
    text-decoration: none;

    &:focus-visible { // for chrome
        outline: dotted;
        outline-width: 1px;
        outline-color: gray;
    }

    &:hover {
        text-decoration: underline;
    }
}

.tabs a:hover {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-max-size) {
        flex-direction: column-reverse;
    }

    h1 {
        font-family: 'Source Serif Pro', serif;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        padding: 0 0 28px 0;
        font-weight: 400;
    }

    .top-nav-right {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: $color-accent-50;

        .username {
            margin-right: 24px;
        }
        @media (max-width: $mobile-max-size) {
            margin-bottom: 16px;
        }
    }
    .icon-user {
        margin-right: 8px;
        margin-left: 16px;
        vertical-align: middle;
        @media (max-width: $mobile-max-size) {
            margin-left: 0;
        }
    }
}

nav.tabs {
    display: flex;
    padding-bottom: 24px;
    ul {
        list-style: none;
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        border-bottom: 1px solid #A2A9B1;

        li {
            outline: 0;
        
            a {
                border: 2px solid white;
                display: block;
                color: #54595D;
                padding: 4px 10px;
                line-height: 24px;
                transition-property: color, border;
                transition-duration: 100ms;
                
                &:focus {
                    outline: 0;
                }
                &:hover {
                    border-bottom-color: $color-accent-hover;
                    color: $color-accent-hover;  
                }
                
            }
        
            &:focus a {
                border: 2px solid $color-accent-50;
            }
        
            &.selected a {
                border-bottom-color: $color-accent-50;
                color: $color-accent-50;
            }
            
            &.selected:active, &:active {
                a {
                    border-color: white white $color-accent-30 white;
                    color: $color-accent-30;
                }
            }
        }
    }
}

dl.import-meta {
    margin: 0 0 24px 0;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    padding: 16px;
}

dl.import-meta-pending {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
}

dl.import-meta-failed {
    border: 1px solid #dd3333;
    background-color: #fee7e6;
}

dl.import-meta-completed {
    border: 1px solid #c8ccd1;
    background-color: #ffffff;
}

dl.import-meta dt {
    font-weight: bold;
    padding-bottom: 8px;
}

dl.import-meta dd {
    margin: 0;
}

dl.import-meta dd:not(:last-child) {
    padding-bottom: 16px;
}

p {
    margin: 0 0 16px 0;
}

.button {
    padding: 6px 13px;
    font-weight: 700;
    display: inline-block;
    color: $color-base-10;
    border-width: 1px;
    border-style: solid;
    border-color: $color-base-50;
    border-radius: 2px;
    background-color: $color-base-90;
    transition-duration: 100ms;

    &:hover {
        text-decoration: none;
        color: $color-base-hover;
        border-color: $color-base-50;
        background-color: $color-base-100;
        transition-property: background-color, border-color;
    }

    &:active {
        color: $color-base-0;
        border-color: $color-base-30;
        background-color: $color-base-80;
        transition-property: background-color, border-color;
    }

    &:focus {
        color: $color-base-10;
        background-color: $color-base-90;
        border-color: $color-accent-50;
        box-shadow: $color-accent-50 0 0 0 1px inset;
        transition-property: box-shadow;
    }

    &.progressive {
        color: $color-base-100;
        background-color: $color-accent-50;
        border-color: $color-accent-50;

        &:visited {
            color: white;
        }

        &:hover {
            background-color: $color-accent-hover;
            border-color: $color-accent-hover;
            transition-property: background-color, border-color;
        }
        &:active {
            background-color: $color-accent-30;
            border-color: $color-accent-30;
            transition-property: background-color, border-color;
        }
        &:focus {
            box-shadow: $color-base-100 0 0 0 1px inset;
            border-color: $color-accent-50;
            background-color: $color-accent-50;
            transition-property: box-shadow;
        }
    }

    &.destructive {
        color:$color-base-100;
        background-color: $color-red-50;
        border-color: $color-red-50;

        &:visited {
            color: white;
        }
        
        &:hover {
            background-color: $color-red-hover;
            border-color: $color-red-hover;
            transition-property: background-color, border-color;
        }
        &:active {
            background-color: $color-red-30;
            border-color: $color-red-30;
            transition-property: background-color, border-color;
        }
        &:focus {
            box-shadow: $color-base-100 0 0 0 1px inset;
            border-color: $color-red-50;
            background-color: $color-red-50;
            transition-property: box-shadow;
        }
    }
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.button-group {
    display: flex;
    margin-top: 16px;

    &.right {
        justify-content: flex-end;
        @media (max-width: $mobile-max-size) {
            justify-content: flex-start;
         }
    }

    @media (max-width: $mobile-max-size) {
       justify-content: flex-start;
    }
}

.card {
    padding: 16px;
    border-radius: 2px;
    display: block;

    &.border{
        border: 1px solid #C8CCD1;
    }
}

.token {
    padding-bottom: 24px;
}