@import url('https://tools-static.wmflabs.org/fontcdn/css2?family=Lato&family=Source+Serif+Pro&display=swap');

@import '~ress';
@import '~@wmde/wikit-vue-components/dist/wikit-vue-components.css';
@import '~@wmde/wikit-tokens/dist/_variables.scss';
@import './_typography.scss';

body {
    @include body-text;
}

/**
* Layout
*/
main {
    max-width: 1090px;
    padding: 0 $dimension-layout-xsmall;
    margin: 0 auto;

    & > header {
        display: flex;
        justify-content: space-between;
        margin: $dimension-layout-small 0;
    }

    @media(min-width: $width-breakpoint-tablet){
        padding: 0 $dimension-layout-small;
    }
}

section {
    margin-bottom: $dimension-layout-large;
}

h1, .h1 {
    @include heading-1;

    margin: $dimension-layout-xsmall 0;

    @media (min-width: $width-breakpoint-tablet) {
        margin: $dimension-layout-small 0;
    }
}

h4, .h4 {
    margin: $dimension-layout-xxsmall 0;
    @include heading-4;

    @media(min-width: $width-breakpoint-tablet){
        margin: $dimension-layout-xsmall 0;
    }
}

h5, .h5 {
    margin: $dimension-layout-xxsmall 0;
    @include heading-5;

    @media(min-width: $width-breakpoint-tablet){
        margin: $dimension-layout-xsmall 0;
    }
}

a {
    @include link;
}

p, ul, ol {
    margin-block-end: 1rem;

    .wikit-Dialog & {
        margin-block-end: 1rem;
    }
}

li + li {
    margin-block-start: 1rem;

    .wikit-Dialog & {
        margin-block-start: 1rem;
    }
}

li {
    margin-inline-start: 1rem;

    .wikit-Dialog & {
        margin-inline-start: 1rem;
    }
}

.wikit.wikit-Dialog {
    // Override global styles from media query below
    header {
        flex-direction: row;
    }

    // Ensure dialog is wider than 75% default
    .wikit-Dialog__modal {
        max-width: 90%;
    }
}

.wikit.wikit-Message {
    border-radius: $border-radius-base;
}

#error-section,
#message-section,
#description-section {
    max-width: 705px;
}

#description-section {
    .description-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

// this ensures that there will be a space if there is more than one message
#message-section .wikit-Message:not(:nth-child(1)) {
    margin-top: $dimension-layout-xsmall;
}

/**
* Legacy
*/
.store > header {
    flex-direction: row;

    @media (max-width: $width-breakpoint-tablet) {
        flex-direction: column-reverse;
    }

    h1 {
        margin: 0;
    }

    .auth-widget {
        display: flex;
        color: $color-base-50;

        .username {
            margin-inline-end: $dimension-spacing-xlarge;
        }

        .icon-user {
            margin-inline-end: $dimension-spacing-small;
            vertical-align: middle;
        }

        @media (max-width: $width-breakpoint-tablet) {
            margin-bottom: $dimension-layout-xsmall;
        }
    }
}



nav.tabs {
    display: flex;

    ul {
        list-style: none;
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        border-bottom: 1px solid #A2A9B1;

        li {
            outline: 0;
            margin: 0;

            a {
                border: 2px solid white;
                display: block;
                color: #54595D;
                padding: 4px 10px;
                line-height: 24px;
                transition-property: color, border;
                transition-duration: 100ms;

                &:focus {
                    outline: 0;
                }
                &:hover {
                    text-decoration: none;
                    border-bottom-color: $color-modifier-lighten-accent-50;
                    color: $color-modifier-lighten-accent-50;
                }

            }

            &:focus a {
                border: 2px solid $color-accent-50;
            }

            &.selected a {
                border-bottom-color: $color-accent-50;
                color: $color-accent-50;
            }

            &.selected:active, &:active {
                a {
                    border-color: white white $color-accent-30 white;
                    color: $color-accent-30;
                }
            }
        }
    }
}

dl.import-meta {
    margin: 0 0 24px 0;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    padding: 16px;
}

dl.import-meta-pending {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
}

dl.import-meta-failed {
    border: 1px solid #dd3333;
    background-color: #fee7e6;
}

dl.import-meta-completed {
    border: 1px solid #c8ccd1;
    background-color: #ffffff;
}

dl.import-meta dt {
    font-weight: bold;
    padding-bottom: 8px;
}

dl.import-meta dd {
    margin: 0;
}

dl.import-meta dd:not(:last-child) {
    padding-bottom: 16px;
}

dl.import-meta .download-csv {
    float:right;
}

.button {
    padding: 6px 13px;
    font-weight: 700;
    display: inline-block;
    color: $color-base-10;
    border-width: 1px;
    border-style: solid;
    border-color: $color-base-50;
    border-radius: 2px;
    background-color: $color-base-90;
    transition-duration: 100ms;

    &:hover {
        text-decoration: none;
        color: $color-modifier-lighten-base-10;
        border-color: $color-base-50;
        background-color: $color-base-100;
        transition-property: background-color, border-color;
    }

    &:active {
        color: $color-base-0;
        border-color: $color-base-30;
        background-color: $color-base-80;
        transition-property: background-color, border-color;
    }

    &:focus {
        color: $color-base-10;
        background-color: $color-base-90;
        border-color: $color-accent-50;
        box-shadow: $color-accent-50 0 0 0 1px inset;
        transition-property: box-shadow;
    }

    &.progressive {
        color: $color-base-100;
        background-color: $color-accent-50;
        border-color: $color-accent-50;

        &:visited {
            color: white;
        }

        &:hover {
            background-color: $color-modifier-lighten-accent-50;
            border-color: $color-modifier-lighten-accent-50;
            transition-property: background-color, border-color;
        }
        &:active {
            background-color: $color-accent-30;
            border-color: $color-accent-30;
            transition-property: background-color, border-color;
        }
        &:focus {
            box-shadow: $color-base-100 0 0 0 1px inset;
            border-color: $color-accent-50;
            background-color: $color-accent-50;
            transition-property: box-shadow;
        }
    }

    &.destructive {
        color:$color-base-100;
        background-color: $color-utility-red-50;
        border-color: $color-utility-red-50;

        &:visited {
            color: white;
        }

        &:hover {
            background-color: $color-modifier-lighten-utility-red-50;
            border-color: $color-modifier-lighten-utility-red-50;
            transition-property: background-color, border-color;
        }
        &:active {
            background-color: $color-utility-red-30;
            border-color: $color-utility-red-30;
            transition-property: background-color, border-color;
        }
        &:focus {
            box-shadow: $color-base-100 0 0 0 1px inset;
            border-color: $color-utility-red-50;
            background-color: $color-utility-red-50;
            transition-property: box-shadow;
        }
    }
    &:not(:last-child) {
        margin-right: 8px;
    }

    &-icon {
        margin-inline-end: $dimension-spacing-small;
        vertical-align: middle;
    }
}

.button-group {
    display: flex;

    &.right {
        justify-content: flex-end;
        @media (max-width: $width-breakpoint-tablet) {
            justify-content: flex-start;
         }
    }

    @media (max-width: $width-breakpoint-tablet) {
       justify-content: flex-start;
    }
}

.svg {
    &-white-fill {
        filter: invert(1);
    }
    &-black-fill {
        filter: invert(0);
    }
}

.card {
    padding: 16px;
    border-radius: 2px;
    display: block;

    &.border{
        border: 1px solid #C8CCD1;
    }
}

.token {
    padding-bottom: 24px;
}

/* Styles that differ in the tabs */
// escaping the dot of the name of the class
.store\.api-settings {
    nav.tabs {
        padding-bottom: 24px;
    }
    .button-group { 
        margin-top: 16px;
    }
}

.store\.import-status {
    nav.tabs {
        padding-bottom: 16px;
    }

    .button-group {
        margin-block-end: $dimension-spacing-large;
    }

    .button {
        @media (max-width: $width-breakpoint-tablet) {
            width: 100%;
            text-align: center;
        }
    }
}