@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro&display=swap');

$mobile-max-size: 720px;
$color-base-10: #202122;
$color-accent-30: #2A4B8D;
$color-accent-50: #3366cc;
$color-red-50: #DD3333;

body {
    padding: 24px;
    max-width: 1090px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;

    @media (max-width: $mobile-max-size) {
        padding: 16px;
    }
}

a {
    text-decoration: none;

    &:focus-visible { // for chrome
        outline: dotted;
        outline-width: 1px;
        outline-color: gray;
    }

    &:hover {
        text-decoration: underline;
    }
}

.tabs a:hover {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-max-size) {
        flex-direction: column-reverse;
    }

    h1 {
        font-family: 'Source Serif Pro', serif;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        padding: 0 0 28px 0;
        font-weight: 400;
    }

    .top-nav-right {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: $color-accent-50;

        .username {
            margin-right: 24px;
        }
        @media (max-width: $mobile-max-size) {
            margin-bottom: 16px;
        }
    }
    .icon-user {
        margin-right: 8px;
        margin-left: 16px;
        vertical-align: middle;
        @media (max-width: $mobile-max-size) {
            margin-left: 0;
        }
    }
}

nav.tabs {
    display: flex;
    padding-bottom: 24px;
    ul {
        list-style: none;
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        border-bottom: 1px solid #A2A9B1;

        li {
            outline: 0;
        
            a {
                border: 2px solid white;
                display: block;
                color: #54595D;
                padding: 4px 10px;
                line-height: 24px;
                transition-property: color, border;
                transition-duration: 100ms;
                
                &:focus {
                    outline: 0;
                }
                &:hover {
                    border-bottom-color: #447ff5;
                    color: #447ff5;  
                }
                
            }
        
            &:focus a {
                border: 2px solid $color-accent-50;
            }
        
            &.selected a {
                border-bottom-color: $color-accent-50;
                color: $color-accent-50;
            }
            
            &.selected:active, &:active {
                a {
                    border-color: white white $color-accent-30 white;
                    color: $color-accent-30;
                }
            }
        }
    }
}

dl.import-meta {
    margin: 0 0 24px 0;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    padding: 16px;
}

dl.import-meta-pending {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
}

dl.import-meta-failed {
    border: 1px solid #dd3333;
    background-color: #fee7e6;
}

dl.import-meta-completed {
    border: 1px solid #c8ccd1;
    background-color: #ffffff;
}

dl.import-meta dt {
    font-weight: bold;
    padding-bottom: 8px;
}

dl.import-meta dd {
    margin: 0;
    padding-bottom: 16px;
}
p {
    margin: 0 0 16px 0;
}

.button {
    padding: 6px 13px;
    font-weight: 700;
    display: inline-block;
    color: $color-base-10;
    border: 1px solid gray; //TODO: find correct color

    &:hover {
        text-decoration: none;
    }

    &.progressive {
        color: white;
        background-color: $color-accent-50;
        &:visited {
            color: white;
        }
        border: 0;
    }

    &.destructive {
        color: white;
        background-color: $color-red-50;
        &:visited {
            color: white;
        }
        border: 0;
    }
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.button-group {
    display: flex;
    margin-top: 16px;

    &.right {
        justify-content: flex-end;
    }

    @media (max-width: $mobile-max-size) {
       justify-content: flex-start;
    }
}

.card {
    padding: 16px;
    border-radius: 2px;
    display: block;

    &.border{
        border: 1px solid #C8CCD1;
    }
}
