@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro&display=swap');

body {
    padding: 24px;
    max-width: 1090px;
    margin: 0 auto;
}

a, .tabs a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: 'Source Serif Pro', serif;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        padding: 0 0 28px 0;
    }

    .top-nav-right {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #3366cc;

        .username {
            margin-right: 40px;
        }
    }
    .icon-user {
        margin: 0 8px 0 16px;
        vertical-align: middle;
    }
}

nav.tabs {
    display: flex;
    padding-bottom: 25px;

    ul {
        list-style: none;
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        border-bottom: 1px solid #A2A9B1;

        li {
            padding: 4px 10px;
            border: 2px solid white;
            transition-property: border;
            transition-duration: 100ms;
        
            &:hover {
                border-bottom-color: #447ff5;
                a {
                    color: #447ff5;
                }  
            }
        
            a {
                color: #54595D;
                &:focus {
                    outline: 0;
                }
                transition-property: color;
                transition-duration: 100ms;
            }
        
            &:focus {
                border: 2px solid #36c;
            }
        
            &.selected {
                border-bottom-color: #36c;
                a {
                    color: #36c;
                }
            }
            
            &.selected:active, &:active {
                border-color: white white #2A4B8D white;
                a {
                    color: #2A4B8D;
                }
            }
        }
    }
}
