@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro&display=swap');

$mobile-max-size: 720px;

body {
    padding: 24px;
    max-width: 1090px;
    margin: 0 auto;
}

a {
    text-decoration: none;

    &:focus-visible { // for chrome
        outline: dotted;
        outline-width: 1px;
        outline-color: gray;
    }

    &:hover {
        text-decoration: underline;
    }
}

.tabs a:hover {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-max-size) {
        flex-direction: column-reverse;
    }

    h1 {
        font-family: 'Source Serif Pro', serif;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        padding: 0 0 28px 0;
        font-weight: 400;
    }

    .top-nav-right {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #3366cc;

        .username {
            margin-right: 24px;
        }
        @media (max-width: $mobile-max-size) {
            margin-bottom: 16px;
        }
    }
    .icon-user {
        margin-right: 8px;
        margin-left: 16px;
        vertical-align: middle;
        @media (max-width: $mobile-max-size) {
            margin-left: 0;
        }
    }
}

nav.tabs {
    display: flex;
    padding-bottom: 25px;
    ul {
        list-style: none;
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        border-bottom: 1px solid #A2A9B1;

        li {
            border: 2px solid white;
            transition-property: border;
            transition-duration: 100ms;
            outline: 0;
        
            &:hover {
                border-bottom-color: #447ff5;
                a {
                    color: #447ff5;
                }  
            }
        
            a {
                display: block;
                color: #54595D;
                padding: 4px 10px;
                line-height: 24px;

                &:focus {
                    outline: 0;
                }
                transition-property: color;
                transition-duration: 100ms;
            }
        
            &:focus {
                border: 2px solid #36c;
            }
        
            &.selected {
                border-bottom-color: #36c;
                a {
                    color: #36c;
                }
            }
            
            &.selected:active, &:active {
                border-color: white white #2A4B8D white;
                a {
                    color: #2A4B8D;
                }
            }
        }
    }
}
