@import url('https://tools-static.wmflabs.org/fontcdn/css2?family=Lato&family=Source+Serif+Pro&display=swap');

@import '~ress';
@import '~wikit-dist/wikit-vue-components-vue3compat.css';
@import "@wikimedia/codex/dist/codex.style.css";
@import "@wikimedia/codex-design-tokens/theme-wikimedia-ui";
@import '../custom-variables.css';
@import './link.scss';
@import './_typography.scss';

html {
    height: 100%;
}

body {
    @include body-M;
    height: 100%;
}

/**
* Layout
*/
main {
    max-width: 1090px;
    padding: 0 var(--dimension-layout-xsmall);
    margin: 0 auto;

    & > header {
        display: flex;
        justify-content: space-between;
        margin: var(--dimension-layout-small) 0;
    }

    @media(min-width: $min-width-breakpoint-tablet){
        padding: 0 var(--dimension-layout-small);
    }
}

section {
    margin-bottom: var(--dimension-layout-large);
}

h1, .h1 {
    @include heading-1;

    margin: var(--dimension-layout-xsmall) 0;

    @media (min-width: $min-width-breakpoint-tablet) {
        margin: var(--dimension-layout-small) 0;
    }
}

h4, .h4 {
    margin: var(--dimension-layout-xxsmall) 0;
    @include heading-4;

    @media(min-width: $min-width-breakpoint-tablet){
        margin: var(--dimension-layout-xsmall) 0;
    }
}

h5, .h5 {
    margin: var(--dimension-layout-xxsmall) 0;
    @include heading-5;

    @media(min-width: $min-width-breakpoint-tablet){
        margin: var(--dimension-layout-xsmall) 0;
    }
}

a {
    @include cdx-mixin-link;
}

p, ul, ol {
    margin-block-end: 1rem;
}

li + li {
    margin-block-start: 1rem;
}

li {
    margin-inline-start: 1rem;
}

#error-section,
#message-section,
#description-section {
    max-width: 705px;
}

#description-section {
    .description-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

// this ensures that there will be a space if there is more than one message
#message-section .cdx-message:not(:nth-child(1)) {
    margin-top: var(--dimension-layout-xsmall);
}

/**
* Legacy
*/
.store > header {
    flex-direction: row;

    @media (max-width: $max-width-breakpoint-tablet) {
        flex-direction: column-reverse;
    }

    h1 {
        margin: 0;
    }

    .auth-widget {
        display: flex;

        .username {
            margin-inline-end: var(--dimension-spacing-xlarge);
        }

        .icon-user {
            margin-inline-end: var(--dimension-spacing-small);
            vertical-align: middle;
        }

        @media (max-width: $max-width-breakpoint-tablet) {
            margin-bottom: var(--dimension-layout-xsmall);
        }
    }
}



nav.tabs {
    display: flex;

    ul {
        list-style: none;
        display: flex;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        border-bottom: 1px solid #A2A9B1;

        li {
            outline: 0;
            margin: 0;

            a {
                border: 2px solid white;
                display: block;
                color: #54595D;
                padding: 4px 10px;
                line-height: 24px;
                transition-property: color, border;
                transition-duration: 100ms;

                &:focus {
                    outline: 0;
                }
                &:hover {
                    text-decoration: none;
                    border-bottom-color: $color-progressive--hover;
                    color: $color-progressive--hover;
                }

            }

            &:focus a {
                border: 2px solid $border-color-progressive--focus;
            }

            &.selected a {
                border-bottom-color: $border-color-progressive;
                color: $color-progressive;
            }

            &.selected:active, &:active {
                a {
                    border-color: white white $color-progressive--active white;
                    color: $color-progressive--active;
                }
            }
        }
    }
}

dl.import-meta {
    margin: 0 0 24px 0;
    border-radius: 2px;
    padding: 16px;
}

dl.import-meta-pending {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
}

dl.import-meta-failed {
    border: 1px solid #dd3333;
    background-color: #fee7e6;
}

dl.import-meta-completed {
    border: 1px solid #c8ccd1;
    background-color: #ffffff;
}

dl.import-meta dt {
    font-weight: bold;
    padding-bottom: 8px;
}

dl.import-meta dd {
    margin: 0;
}

dl.import-meta dd:not(:last-child) {
    padding-bottom: 16px;
}

dl.import-meta .download-csv {
    float: right;
    @media(max-width: $max-width-breakpoint-tablet){
        float: none;
        padding-block-end: 0;
        margin-block-end: 1em;
    }

}

.button {
    padding: $spacing-30 $spacing-75;
    font-weight: $font-weight-bold;
    line-height: $line-height-xx-small;
    display: inline-block;
    color: $color-base;
    border-width: $border-width-base;
    border-style: $border-style-base;
    border-color: $border-color-base;
    border-radius: $border-radius-base;
    background-color: $background-color-interactive-subtle;
    transition-duration: $transition-duration-base;
    transition-property: $transition-property-base;

    &:focus {
        color: $color-base;
        background-color: $background-color-interactive-subtle;
        border-color: $border-color-progressive--focus;
        box-shadow: $box-shadow-inset-small $box-shadow-color-progressive--focus;
    }

    &:hover {
        text-decoration: none;
        color: $color-base--hover;
        border-color: $border-color-base;
        background-color: $background-color-base;
    }

    &:active {
        color: $color-emphasized;
        border-color: $border-color-interactive;
        background-color: $background-color-interactive;
        box-shadow: none;
    }

    &.progressive {
        color: $color-inverted;
        background-color: $background-color-progressive;
        border-color: $border-color-progressive;

        &:visited {
            color: white;
        }

        &:focus {
            box-shadow: $box-shadow-inset-small $box-shadow-color-progressive--focus $box-shadow-inset-medium $box-shadow-color-inverted;
            border-color: $border-color-progressive--focus;
            background-color: $background-color-progressive;
        }
        &:hover {
            background-color: $background-color-progressive--hover;
            border-color: $border-color-progressive--hover;
        }
        &:active {
            background-color: $background-color-progressive--active;
            border-color: $border-color-progressive--active;
            box-shadow: none;
        }
    }

    &.destructive {
        color: $color-inverted;
        background-color: $background-color-destructive;
        border-color: $border-color-destructive;

        &:visited {
            color: white;
        }

        &:focus {
            box-shadow: $box-shadow-inset-small $box-shadow-color-destructive--focus $box-shadow-inset-medium $box-shadow-color-inverted;
            border-color: $border-color-destructive--focus;
            background-color: $background-color-destructive;
        }
        &:hover {
            background-color: $color-destructive--hover;
            border-color: $color-destructive--hover;
        }
        &:active {
            background-color: $background-color-destructive--active;
            border-color: $border-color-destructive--active;
            box-shadow: none;
        }
    }
    &:not(:last-child) {
        margin-right: 8px;
    }

    &-icon {
        margin-inline-end: var(--dimension-spacing-small);
        vertical-align: middle;
    }
}

.button-group {
    display: flex;

    &.right {
        justify-content: flex-end;
        @media (max-width: $max-width-breakpoint-tablet) {
            justify-content: flex-start;
         }
    }

    @media (max-width: $max-width-breakpoint-tablet) {
       justify-content: flex-start;
    }
}

.svg {
    &-white-fill {
        filter: invert(1);
    }
    &-black-fill {
        filter: invert(0);
    }
}

.card {
    padding: 16px;
    border-radius: 2px;
    display: block;

    &.border{
        border: 1px solid #C8CCD1;
    }
}

.token {
    padding-bottom: 24px;
}

/* Styles that differ in the tabs */
// escaping the dot of the name of the class
.store\.api-settings {
    nav.tabs {
        padding-bottom: 24px;
    }
    .button-group {
        margin-top: 16px;
    }
}

.store\.import-status {
    nav.tabs {
        padding-bottom: 16px;
    }

    .button-group {
        margin-block-end: var(--dimension-spacing-large);
    }

    .button {
        @media (max-width: $max-width-breakpoint-tablet) {
            width: 100%;
            text-align: center;
        }
    }
}

// TODO: This is a temporary fix until issue https://phabricator.wikimedia.org/T326900
// is marked as resolved.
.cdx-button .cdx-icon {
    vertical-align: text-top;
}

.cdx-dialog {
	header {
		color: $color-emphasized;
	}
	&__body {
		line-height: $line-height-medium;
	}
}


.cdx-select-vue {
	width: 100%;
	&__handle {
		min-width: unset;
		max-width: 256px;
	}
}

