@import url('https://tools-static.wmflabs.org/fontcdn/css2?family=Lato&family=Source+Serif+Pro&display=swap');

@import '~ress';
@import '~wikit-dist/wikit-vue-components-vue3compat.css';
@import "@wikimedia/codex/dist/codex.style.css";
@import '~@wmde/wikit-tokens/dist/_variables.scss';
@import './_typography.scss';

html {
    height: 100%;
}

body {
    @include body-text;
    height: 100%;
}

/**
* Layout
*/
main {
    max-width: 1090px;
    padding: 0 $dimension-layout-xsmall;
    margin: 0 auto;

    & > header {
        display: flex;
        justify-content: space-between;
        margin: $dimension-layout-small 0;
    }

    @media(min-width: $width-breakpoint-tablet){
        padding: 0 $dimension-layout-small;
    }
}

section {
    margin-bottom: $dimension-layout-large;
}

h1, .h1 {
    @include heading-1;

    margin: $dimension-layout-xsmall 0;

    @media (min-width: $width-breakpoint-tablet) {
        margin: $dimension-layout-small 0;
    }
}

h4, .h4 {
    margin: $dimension-layout-xxsmall 0;
    @include heading-4;

    @media(min-width: $width-breakpoint-tablet){
        margin: $dimension-layout-xsmall 0;
    }
}

h5, .h5 {
    margin: $dimension-layout-xxsmall 0;
    @include heading-5;

    @media(min-width: $width-breakpoint-tablet){
        margin: $dimension-layout-xsmall 0;
    }
}

a {
    @include link;
}

p, ul, ol {
    margin-block-end: 1rem;

    .wikit-Dialog & {
        margin-block-end: 1rem;
    }
}

li + li {
    margin-block-start: 1rem;

    .wikit-Dialog & {
        margin-block-start: 1rem;
    }
}

li {
    margin-inline-start: 1rem;

    .wikit-Dialog & {
        margin-inline-start: 1rem;
    }
}

.wikit.wikit-Dialog {
    // Override global styles from media query below
    header {
        flex-direction: row;
    }

    // Ensure dialog is wider than 75% default
    .wikit-Dialog__modal {
        max-width: 90%;
    }
}

.wikit.wikit-Message {
    border-radius: $border-radius-base;
}

#error-section,
#message-section,
#description-section {
    max-width: 705px;
}

#description-section {
    .description-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

// this ensures that there will be a space if there is more than one message
#message-section .wikit-Message:not(:nth-child(1)) {
    margin-top: $dimension-layout-xsmall;
}

/**
* Legacy
*/
.store > header {
    flex-direction: row;

    @media (max-width: $width-breakpoint-tablet) {
        flex-direction: column-reverse;
    }

    h1 {
        margin: 0;
    }

    .auth-widget {
        display: flex;
        color: $color-base-50;

        .username {
            margin-inline-end: $dimension-spacing-xlarge;
        }

        .icon-user {
            margin-inline-end: $dimension-spacing-small;
            vertical-align: middle;
        }

        @media (max-width: $width-breakpoint-tablet) {
            margin-bottom: $dimension-layout-xsmall;
        }
    }
}



nav.tabs {
    display: flex;

    ul {
        list-style: none;
        display: flex;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        border-bottom: 1px solid #A2A9B1;

        li {
            outline: 0;
            margin: 0;

            a {
                border: 2px solid white;
                display: block;
                color: #54595D;
                padding: 4px 10px;
                line-height: 24px;
                transition-property: color, border;
                transition-duration: 100ms;

                &:focus {
                    outline: 0;
                }
                &:hover {
                    text-decoration: none;
                    border-bottom-color: $color-modifier-lighten-accent-50;
                    color: $color-modifier-lighten-accent-50;
                }

            }

            &:focus a {
                border: 2px solid $color-accent-50;
            }

            &.selected a {
                border-bottom-color: $color-accent-50;
                color: $color-accent-50;
            }

            &.selected:active, &:active {
                a {
                    border-color: white white $color-accent-30 white;
                    color: $color-accent-30;
                }
            }
        }
    }
}

dl.import-meta {
    margin: 0 0 24px 0;
    border-radius: 2px;
    padding: 16px;
}

dl.import-meta-pending {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
}

dl.import-meta-failed {
    border: 1px solid #dd3333;
    background-color: #fee7e6;
}

dl.import-meta-completed {
    border: 1px solid #c8ccd1;
    background-color: #ffffff;
}

dl.import-meta dt {
    font-weight: bold;
    padding-bottom: 8px;
}

dl.import-meta dd {
    margin: 0;
}

dl.import-meta dd:not(:last-child) {
    padding-bottom: 16px;
}

dl.import-meta .download-csv {
    float: right;
    @media(max-width: $width-breakpoint-tablet){
        float: none;
        padding-block-end: 0;
        margin-block-end: 1em;
    }

}

.button {
    padding: $wikit-Button-medium-padding-vertical $wikit-Button-medium-padding-horizontal;
    font-weight: $wikit-Button-font-weight;
    line-height: $wikit-Button-line-height;
    display: inline-block;
    color: $wikit-Button-normal-neutral-color;
    border-width: $wikit-Button-border-width;
    border-style: $wikit-Button-border-style;
    border-color: $wikit-Button-normal-neutral-border-color;
    border-radius: $wikit-Button-border-radius;
    background-color: $wikit-Button-normal-neutral-background-color;
    transition-duration: $wikit-Button-transition-duration;
    transition-property: $wikit-Button-transition-property;

    &:focus {
        color: $wikit-Button-normal-neutral-focus-color;
        background-color: $wikit-Button-normal-neutral-focus-background-color;
        border-color: $wikit-Button-normal-neutral-focus-border-color;
        box-shadow: $wikit-Button-normal-neutral-focus-box-shadow;
    }

    &:hover {
        text-decoration: none;
        color: $wikit-Button-normal-neutral-hover-color;
        border-color: $wikit-Button-normal-neutral-hover-border-color;
        background-color: $wikit-Button-normal-neutral-hover-background-color;
    }

    &:active {
        color: $wikit-Button-normal-neutral-active-color;
        border-color: $wikit-Button-normal-neutral-active-border-color;
        background-color: $wikit-Button-normal-neutral-active-background-color;
        box-shadow: none;
    }

    &.progressive {
        color: $wikit-Button-primary-color;
        background-color: $wikit-Button-primary-progressive-background-color;
        border-color: $wikit-Button-primary-progressive-border-color;

        &:visited {
            color: white;
        }

        &:focus {
            box-shadow: $wikit-Button-primary-progressive-focus-box-shadow;
            border-color: $wikit-Button-primary-progressive-focus-border-color;
            background-color: $wikit-Button-primary-progressive-focus-background-color;
        }
        &:hover {
            background-color: $wikit-Button-primary-progressive-hover-background-color;
            border-color: $wikit-Button-primary-progressive-hover-border-color;
        }
        &:active {
            background-color: $wikit-Button-primary-progressive-active-background-color;
            border-color: $wikit-Button-primary-progressive-active-border-color;
            box-shadow: none;
        }
    }

    &.destructive {
        color: $wikit-Button-primary-color;
        background-color: $wikit-Button-primary-destructive-background-color;
        border-color: $wikit-Button-primary-destructive-border-color;

        &:visited {
            color: white;
        }

        &:focus {
            box-shadow: $wikit-Button-primary-destructive-focus-box-shadow;
            border-color: $wikit-Button-primary-destructive-focus-border-color;
            background-color: $wikit-Button-primary-destructive-focus-background-color;
        }
        &:hover {
            background-color: $color-modifier-lighten-utility-red-50;
            border-color: $color-modifier-lighten-utility-red-50;
        }
        &:active {
            background-color: $wikit-Button-primary-destructive-active-background-color;
            border-color: $wikit-Button-primary-destructive-active-border-color;
            box-shadow: none;
        }
    }
    &:not(:last-child) {
        margin-right: 8px;
    }

    &-icon {
        margin-inline-end: $dimension-spacing-small;
        vertical-align: middle;
    }
}

.button-group {
    display: flex;

    &.right {
        justify-content: flex-end;
        @media (max-width: $width-breakpoint-tablet) {
            justify-content: flex-start;
         }
    }

    @media (max-width: $width-breakpoint-tablet) {
       justify-content: flex-start;
    }
}

.svg {
    &-white-fill {
        filter: invert(1);
    }
    &-black-fill {
        filter: invert(0);
    }
}

.card {
    padding: 16px;
    border-radius: 2px;
    display: block;

    &.border{
        border: 1px solid #C8CCD1;
    }
}

.token {
    padding-bottom: 24px;
}

/* Styles that differ in the tabs */
// escaping the dot of the name of the class
.store\.api-settings {
    nav.tabs {
        padding-bottom: 24px;
    }
    .button-group { 
        margin-top: 16px;
    }
}

.store\.import-status {
    nav.tabs {
        padding-bottom: 16px;
    }

    .button-group {
        margin-block-end: $dimension-spacing-large;
    }

    .button {
        @media (max-width: $width-breakpoint-tablet) {
            width: 100%;
            text-align: center;
        }
    }
}

// TODO: This is a temporary fix until issue https://phabricator.wikimedia.org/T326900
// is marked as resolved.
.cdx-button .cdx-icon {
    vertical-align: text-top;
}