@import '~@wikimedia/codex/dist/codex.style.css';
@import '~@wikimedia/codex/dist/codex.style-rtl.css';
@import '~@wikimedia/codex-design-tokens/theme-wikimedia-ui.scss';

$spacing-layout-50: 0.5rem;
$spacing-layout-100: 1rem;
$spacing-layout-150: 1.5rem;
$spacing-layout-200: 2rem;
$spacing-layout-900: 9rem;

main {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    font-family: $font-family-system-sans;
    font-weight: $font-weight-normal;
    color: $color-base;
    padding: 10vw $spacing-layout-150 $spacing-layout-150 $spacing-layout-150;
    max-width: 680px;

    @media (min-width: $min-width-breakpoint-tablet) {
        padding: 10vw $spacing-layout-200 $spacing-layout-200 $spacing-layout-200;
    }
    @media (min-width: $min-width-breakpoint-desktop) {
        padding: $spacing-layout-900 0 $spacing-layout-150 0;
    }
    p {
        margin-block-end: 0;
    }
    .h5 {
        margin: $spacing-layout-150 0;
        font-size: $font-size-medium;
        line-height: $line-height-xxx-small;
        font-family: $font-family-system-sans;
        font-weight: $font-weight-bold;
        color: $color-emphasized;
    }
    .message-wrapper {
        padding: $spacing-layout-50 0;
        @media (min-width: $min-width-breakpoint-tablet) {
            padding: $spacing-layout-100 0;
        }
    }
    .description {
        padding-block-end: $spacing-layout-150;
    }
    header {
        .logo-link {
            width: $size-full;
        }
        .mismatch-finder-logo {
            background-image: url('/images/mismatch-finder-logo_mobile.svg');
            width: $size-full;
            height: 24px;
            background-size: contain;

            @media (min-width: $min-width-breakpoint-tablet) {
                background-image: url('/images/mismatch-finder-logo.svg');
                max-width: 384px;
                height: 24px;
            }
        }
        justify-content: center;
    }
}

