@import '~@wikimedia/codex/dist/codex.style.css';
@import '~@wikimedia/codex/dist/codex.style-rtl.css';
@import '~@wikimedia/codex-design-tokens/theme-wikimedia-ui.scss';
@import '../css/custom-variables.css';

main {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    font-family: $font-family-system-sans;
    font-weight: $font-weight-normal;
    color: $color-base;
    padding: 10vw var(----dimension-layout-small) var(----dimension-layout-small) var(----dimension-layout-small) var(----dimension-layout-small);
    max-width: 680px;

    @media (min-width: $min-width-breakpoint-tablet) {
        padding: 10vw var(--dimension-layout-medium) var(--dimension-layout-medium) var(--dimension-layout-medium);
    }
    @media (min-width: $min-width-breakpoint-desktop) {
        padding: 9rem 0 var(----dimension-layout-small) 0;
    }
    p {
        margin-block-end: 0;
    }
    .h5 {
        margin: var(----dimension-layout-small) 0;
        font-size: $font-size-medium;
        line-height: $line-height-xxx-small;
        font-family: $font-family-system-sans;
        font-weight: $font-weight-bold;
        color: $color-emphasized;
    }
    .message-wrapper {
        padding: var(--dimension-layout-xxsmall) 0;
        @media (min-width: $min-width-breakpoint-tablet) {
            padding: var(----dimension-layout-xsmall) 0;
        }
    }
    .description {
        padding-block-end: var(----dimension-layout-small);
    }
    header {
        .logo-link {
            width: $size-full;
        }
        .mismatch-finder-logo {
            background-image: url('/images/mismatch-finder-logo_mobile.svg');
            width: $size-full;
            height: 24px;
            background-size: contain;

            @media (min-width: $min-width-breakpoint-tablet) {
                background-image: url('/images/mismatch-finder-logo.svg');
                max-width: 384px;
                height: 24px;
            }
        }
        justify-content: center;
    }
}

