@import url(https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro&display=swap);
body {
  padding: 24px;
}

a, .tabs a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-family: "Source Serif Pro", serif;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
  padding: 0 0 28px 0;
}
header .username {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #3366cc;
}
header .username a {
  margin: 0 5px;
}
header .icon-user {
  margin-right: 8px;
  vertical-align: middle;
}

nav.tabs {
  display: flex;
  padding-bottom: 25px;
}
nav.tabs ul {
  list-style: none;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  border-bottom: 1px solid #A2A9B1;
}
nav.tabs li {
  padding: 4px 10px;
  border: 2px solid white;
}
nav.tabs li:hover a {
  color: #447ff5;
}
nav.tabs li:hover {
  border-color: #447ff5;
}
nav.tabs li a {
  color: #54595D;
}
nav.tabs li a:focus {
  outline: 0;
}
nav.tabs li:focus-within {
  border: 2px solid #447ff5;
}
nav.tabs li.active a {
  color: #2A4B8D;
}
nav.tabs li.active:focus-within {
  border-color: #2A4B8D;
}
nav.tabs li.active {
  border-bottom-color: #2A4B8D;
}
