name: Build and Deploy to Toolforge

on: 
  push: 
   branches:
    - main
    - gh-actions/**

jobs:
  build-deploy:
    name: Ship and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      uses: php-actions/composer@v6
      with:
        dev: no
        version: 2
        php_version: 7.3

    - name: Syncing code to Toolforge
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        source: "./"
        target: "mismatch-finder-repo"
        rm: true

    - name: Deploy code
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        script: |
          become mismatch-finder rm -rf mismatch-finder-repo
          cp -rv mismatch-finder-repo/ ~tools.mismatch-finder/
          become mismatch-finder take mismatch-finder-repo
          become mismatch-finder cp .env mismatch-finder-repo/