name: Lint

on: [push]

jobs:
  phpcs-lint:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3

        - name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '7.3'

        - name: Install Composer Dependencies
          run: composer install --no-progress --prefer-dist --optimize-autoloader

        - name: PHP Lint
          run: composer run lint

  js-lint:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3

        - name: Setup Node.js
          uses: actions/setup-node@v3.7.0
          with:
            node-version: '18.x'

        - name: Install Dependencies
          run: npm ci

        - name: Run ESLint
          run: npm run lint

        - name: Run i18 Validation
          run: npm run i18n:validate
