## Creates a PR from development to main every 2 weeks
name: Release request from development to main

on:
  schedule:
    - cron: '0 0 1,15 * *'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: development
      - name: Branch out Release
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "<>"
          git branch release/$(date +'%Y-%m-%d')
          git push -u origin release/$(date +'%Y-%m-%d')
      - name: Create PR
        run: |
          gh pr create -B main -H release/$(date +'%Y-%m-%d') \
          --title "Release Mismatch Finder to Production" \
          --body "Review and release the latest changes."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

