name: Update Table of Contents (ToC)

on: 
  push:
    paths: 
      - docs/**
jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v4
        with:
          CREATE_PR: true

